<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title><!--TITLE--></title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--HEAD-->
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script>
      const app = Vue.createApp({
          template: `<main_bs/>`
      });
        app.component(`MainPage`, {
            template: `
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-half has-text-centered">
                            <h1 class="title is-1">todos</h1>
                            <input class="input todo-input margin-bottom-10" v-model="newTodoLabel" @keyup.enter="add"/>
                            <template v-for="todo in visibleTodos">
                                <Todo :value="todo"/>
                            </template>
                            <div class="columns is-vcentered">
                                <div class="column has-text-left">
                                    <b>{{completedCount}}</b> done of <b>{{todos.length}}</b>
                                </div>
                                <div class="column is-three-quarters has-text-right">
                                  <button class="button margin-left-10" @click="setDisplayMode('all')" :class="{'is-primary is-dark' : this.displayMode === 'all'}">All</button>
                                  <button class="button margin-left-10" @click="setDisplayMode('done')" :class="{'is-primary is-dark' : this.displayMode === 'done'}">Done</button>
                                  <button class="button margin-left-10" @click="setDisplayMode('notfinished')"  :class="{'is-primary is-dark' : this.displayMode === 'notfinished'}">Not Finished</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `,
            data() {
                return {
                    newTodoLabel: "",
                    todos: [],
                    visibleTodos: [],
                    displayMode: "all",
                };
            },
            computed: {
                completedCount() {
                  return this.todos.filter(x => x.completed).length;
                }
            },
            methods: {
                add() {
                    this.todos.push({ label: this.newTodoLabel, completed: false });
                    this.newTodoLabel = "";
                    this.determineVisibleTodos();
                },
                remove(todo) {
                    this.todos = this.todos.filter(x => x !== todo);
                    this.determineVisibleTodos();
                },
                determineVisibleTodos() {
                    if (this.displayMode === "all") {
                      this.visibleTodos = this.todos;
                    } else if (this.displayMode === "done") {
                      this.visibleTodos = this.todos.filter(x => x.completed);
                    } else if (this.displayMode === "notfinished") {
                      this.visibleTodos = this.todos.filter(x => !x.completed);
                    }
                },
                setDisplayMode(mode) {
                  this.displayMode = mode;
                  this.determineVisibleTodos();
                },
            }
        });
        app.component(`Todo`, {
            props: ["value"],
            template: `
                <div :class="todoClass + ' notification margin-bottom-10 cursor-pointer has-text-left'" @click="toggleCompleted(value)">
                    <button class="delete" @click.stop="remove(value)"></button>
                    <span :style="todoStyle">{{value.label}}</span>
                </div>
            `,
            computed: {
                todoStyle() {
                    return this.value.completed ? { "text-decoration": "line-through" } : {};
                },
                todoClass() {
                    return this.value.completed ? "is-primary" : "";
                },
            },
            methods: {
                toggleCompleted() {
                    this.value.completed = !this.value.completed;
                    this.$parent.determineVisibleTodos();
                },
                remove() {
                    this.$parent.remove(this.value);
                },
            }
        });
        app.mount("#app");
    </script>
  </body>
</html>
